## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Longyearbyen,SJ,78.2186,15.6401,24.64,68,75,8.05,broken clouds
1,1,Hualmay,PE,-11.0964,-77.6139,74.39,69,100,8.61,overcast clouds
2,2,Cedar City,US,37.6775,-113.0619,50.40,40,0,10.36,clear sky
3,3,Batemans Bay,AU,-35.7167,150.1833,67.19,83,100,6.31,overcast clouds
4,4,Khatanga,RU,71.9667,102.5000,-5.48,97,95,13.44,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input('What is the minimum temperature you would like for your trip?'))
max_temp=float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?50
What is the maximum temperature you would like for your trip?80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]

In [5]:
preferred_city

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Hualmay,PE,-11.0964,-77.6139,74.39,69,100,8.61,overcast clouds
2,2,Cedar City,US,37.6775,-113.0619,50.40,40,0,10.36,clear sky
3,3,Batemans Bay,AU,-35.7167,150.1833,67.19,83,100,6.31,overcast clouds
5,5,Mataura,NZ,-46.1927,168.8643,58.48,92,100,2.55,overcast clouds
6,6,Rikitea,PF,-23.1203,-134.9692,79.21,72,89,18.81,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Prainha,BR,-1.8000,-53.4800,78.96,89,77,3.09,broken clouds
701,701,Port Keats,AU,-14.2500,129.5500,76.96,92,92,6.38,overcast clouds
705,705,Cascais,PT,38.6979,-9.4215,60.15,72,20,15.01,light rain
706,706,Broken Hill,AU,-31.9500,141.4333,60.51,59,0,14.97,clear sky
707,707,Sao Felix Do Xingu,BR,-6.6447,-51.9950,76.71,96,100,0.56,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_city.count()

City ID        341
City           341
Country        335
Lat            341
Lng            341
Max Temp       341
Humidity       341
Cloudiness     341
Wind Speed     341
Description    341
dtype: int64

In [7]:
preferred_city.loc[preferred_city['Country'].isnull()]

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
93,93,Luderitz,NaN,-26.6481,15.1594,73.53,52,3,18.77,clear sky
242,242,Outjo,NaN,-20.1167,16.1500,65.82,90,100,14.43,light rain
290,290,Oranjemund,NaN,-28.5500,16.4333,64.08,92,4,13.56,clear sky
356,356,Opuwo,NaN,-18.0607,13.8400,67.86,87,100,4.76,light rain
567,567,Grootfontein,NaN,-19.5667,18.1167,65.77,94,42,13.80,scattered clouds
697,697,Walvis Bay,NaN,-22.9575,14.5053,72.55,78,6,6.91,clear sky

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_city.dropna(how='any',inplace=True)

C:\Users\sohra\anaconda3\envs\PythonData\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [9]:
clean_df=preferred_city

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Hualmay,PE,74.39,overcast clouds,-11.0964,-77.6139,
2,Cedar City,US,50.40,clear sky,37.6775,-113.0619,
3,Batemans Bay,AU,67.19,overcast clouds,-35.7167,150.1833,
5,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,
6,Rikitea,PF,79.21,overcast clouds,-23.1203,-134.9692,
7,Kapaa,US,78.19,clear sky,22.0752,-159.3190,
8,Kaitangata,NZ,58.53,overcast clouds,-46.2817,169.8464,
9,Arraial Do Cabo,BR,71.46,overcast clouds,-22.9661,-42.0278,
14,Hermanus,ZA,64.90,clear sky,-34.4187,19.2345,
17,Bluff,NZ,58.80,broken clouds,-46.6000,168.3333,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure